body {
    background: rgb(255, 0, 100);
    background: linear-gradient(
        155deg,
        rgba(255, 0, 108, 1) 33%,
        rgba(9, 9, 121, 1) 79%
    );
    font-size: 62.5%;
}
.parent {
    height: 98vh;
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Nunito", sans-serif;
}
.child {
    height: 600px;
    width: 750px;
    background: rgb(195, 34, 34);
    background: linear-gradient(
        90deg,
        rgba(195, 34, 34, 1) 34%,
        rgba(44, 7, 180, 1) 83%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.grandchild {
    height: 550px;
    width: 300px;
    margin-top: 2.5%;
    background-color: darkorchid;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 50px;
}
h1 {
    color: white;
    margin: 30px;
    font-size: 30px;
}
button {
    background: #0d6efd;
    border-radius: 10px;
    border-color: #0d6efd;
    height: 40px;
    width: 100px;
}
input {
    border-color: #ced4da;
    border-radius: 10px;
    height: 25px;
    width: 150px;
    padding: 10px;
    margin: 10px;
}
input:focus {
    outline: 0;
    border: 5px solid #86b7f2;
    border-radius: 10px;
}
.user,
.pass,
.sub {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.forget {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
}
button:hover {
    color: whitesmoke;
}
.forget:focus {
    color: whitesmoke;
}
